<h2>New Project</h2>
<%= form_for @project, :url => create_project_path do |f| %>
    <p><%= f.text_field :title, :placeholder => "Project Name" %></p>
   <p><%= f.text_area :description, :placeholder => "Project Description" %></p>
   <p><%= f.submit "Make Project", :class => 'submit'%></p>
<% end %>
<p><%= link_to "Create new tasks for this project", new_task_path %></p>

